* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
}
.container {
  width: 100%;
  margin: 0 0.4em;
  max-width: 1440px;
}

img {
  width: 100%;
}
/* =============
    Typography
============== */

.page-title {
  font-size: 1.5rem;
  color: #4e5150;
}
/* Checkout Items*/
.item-information__name {
  color: #4e5150;
  font-size: 0.75rem;
}
.item-information__price {
  font-size: 0.875rem;
  color: #f2994a;
}
.item-information__prev-price {
  font-size: 0.625rem;
  text-decoration: line-through;
  color: #4e5150;
}
.checkout__item-quantity input {
  font-size: 1rem;
}
.checkout__shipping,
.checkout__total {
  font-weight: 600;
  font-size: 0.875rem;
  color: #333333;
}

/* Form  */
.contact-info__title,
.shipping-address__title {
  font-size: 0.875rem;
}
label {
  font-size: 0.625rem;
}

input::placeholder,
select:invalid {
  font-size: 0.75rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #828282;
}
input,
select {
  border: none;
  background-color: #fff;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.continue-buttom {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 1.1em 2.82em;
  background: #f2994a;
  border-radius: 12px;
}
.success-submit {
  color: #4bb543;
}
@media (min-width: 768px) {
  .page-title {
    font-size: 2.25rem;
    color: #4e5150;
  }
  /* Checkout Items*/
  .item-information__name {
    font-size: 1rem;
  }
  .item-information__price {
    font-size: 1rem;
  }
  .item-information__prev-price {
    font-size: 0.75rem;
  }
  .checkout__item-quantity input {
    font-size: 1rem;
  }
  .checkout__shipping,
  .checkout__total {
    font-weight: 600;
    font-size: 1.125rem;
  }
  .checkout__shipping-price,
  .checkout__total-amount {
    font-weight: 600;
    font-size: 0.875rem;
  }
  /* Form  */
  .contact-info__title,
  .shipping-address__title {
    font-size: 1.125rem;
  }
  label {
    font-size: 0.75rem;
  }
  input::placeholder,
  select:invalid {
    font-size: 1rem;
  }
}

/* ===========
    Layout
=============== */
.page-title {
  margin: 1em 0.2em;
}
/* Checkout Items */
.checkout {
  margin-top: 1em;
  background: #f2f2f2;
  border-radius: 12px;
  width: 95%;
  padding: 1.5em;
}
.checkout__item {
  padding: 1em 0;
  display: flex;
  justify-content: center;
}
.checkout__item-image {
  width: 40%;
  border-radius: 10px;
  margin-right: 1.2em;
  object-fit: cover;
}
.checkout__item-information {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-information__name {
  margin-bottom: 1em;
}
.checkout__item-quantity {
  display: flex;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 0.5em;
  width: fit-content;
  margin-right: 4em;
}
.checkout__item-quantity input {
  width: 100%;
  text-align: center;
  background-color: transparent;
}
.checkout__item-quantity input:focus {
  background-color: transparent;
}
.remove-icon,
.add-icon {
  background: #e0e0e0;
  color: #828282;
  border-radius: 4px;
  cursor: pointer;
}
.checkout__shipping,
.checkout__total {
  border-top: 1px solid #bdbdbd;
  display: flex;
  justify-content: space-between;
}

.checkout__shipping {
  margin-top: 4em;
  padding: 0.5em 0;
}
.checkout__total {
  padding-top: 1em;
}

/* Form */
.contact-info__title,
.shipping-address__title {
  margin-bottom: 0.5em;
}
.shipping-address__title {
  margin-top: 3em;
  margin-bottom: 0.5em;
}
label {
  margin-top: 10em;
}
input,
select {
  width: 100%;
}

input:focus,
select:focus {
  background-color: #fff;
  width: 100%;
  outline: none;
}
select:invalid {
  margin: 0;
}
.select-selected:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
.input-container {
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 0.72em 0.4em;
  width: 95%;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 0.2em;
}
input[type='checkbox'] {
  width: auto;
}
.icon {
  margin-right: 0.5em;
  color: #828282;
  font-family: 'Material Icons';
  font-weight: normal;
  height: 100%;
  font-style: normal;
  line-height: 00;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
.form-bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97%;
}
.shipping-address__country {
  width: 47.5%;
}
.shipping-address__postal {
  width: 47.5%;
}
.button-container {
  margin-top: 2em;
  display: flex;
  width: 95%;
  justify-content: flex-end;
}
.succeed {
  text-align: center;
}
.success-submit h2 {
  margin: 5em 0;
}
/* Author */
.author {
  font-size: 0.875rem;
  margin-top: 4em;
  margin-bottom: 1em;
  color: #bdbdbd;
  text-align: center;
}
.author a {
  color: #bdbdbd;
}
@media (min-width: 1000px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .checkout {
    order: 2;
    width: 33%;
  }
  form {
    order: 1;
    width: 42%;
    margin-right: 5em;
  }
  .page-title {
    margin-left: 3em;
  }
  /* Form */
  select {
    padding: -1em;
  }
  .input-container {
    padding: 1.2em 0.4em;
  }
  .icon {
    font-size: 20px;
    margin-left: 0.2em;
  }
}
